<editable-area area-identifier=" BannerImage" />
<editable-area area-identifier="location section" />
<div class="contactUsForm ">
    <editable-area area-identifier=" General Form" />
</div>
<div class="grid-container text-center common-content mrgTB50 ThankyouPage hide">
    @Html.Raw(@ResHelper.GetString("GDI.GeneralForm.ThankYouMessage"))
</div>

